﻿@using OxxCommerceStarterKit.Core.Helpers;
@model OxxCommerceStarterKit.Web.Models.ViewModels.Payment.SpreedlyPaymentViewModel

<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="~/Content/css/styles.css" rel="stylesheet" type="text/css" />
<link href="~/Content/css/demo.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/js/jquery.payform.min.js" charset="utf-8"></script>
<script src="https://core.spreedly.com/iframe/iframe-v1.min.js"></script>

<div><input type="hidden" name="paymentprovider" value="@SiteConstants.SpreedlySystemName" /></div>
<div><input type="hidden" name="amount" value="@Model.Amount" /></div>
<div><input type="hidden" name="currency" value="@Model.Currency.CurrencyCode" /></div>
<div><input type="hidden" name="orderid" value="@Model.OrderID" /></div>
<div><input type="hidden" name="lang" value="@Model.Language" /></div>

<div class="container-fluid">
    <div class="creditCardForm">
        <input type="hidden" name="payment_method_token" id="payment_method_token">
        <div class="heading">
            <h1>Confirm Purchase</h1>
        </div>
        <div class="payment">
            <div class="form-group owner">
                <label for="owner">Name</label>
                <input type="text" class="form-control" id="full_name" name="full_name">
            </div>
            <div class="form-group CVV">
                <label for="cvv">CVV</label>
                <div id="spreedly-cvv" class="form-control" style="width:60px; height:35px; border: 2px solid "></div><br />
            </div>
            <div class="form-group" id="card-number-field">
                <label for="cardNumber">Card Number</label>
                <div id="spreedly-number" style="width:225px; height:35px; border: 2px solid"></div>
            </div>
            <div class="form-group" id="expiration-date">
                <label>Expiration Date</label>
                <select id="month" name="month">
                    <option value="01">January</option>
                    <option value="02">February </option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
                <select id="year" name="year">
                    <option value="2016"> 2016</option>
                    <option value="2017"> 2017</option>
                    <option value="2018"> 2018</option>
                    <option value="2019"> 2019</option>
                    <option value="2020"> 2020</option>
                    <option value="2021"> 2021</option>
                </select>
            </div>
            <div class="form-group" id="credit_cards">
                <img src="~/Content/Images/visa.jpg" id="visa">
                <img src="~/Content/Images//mastercard.jpg" id="mastercard">
                <img src="~/Content/Images/amex.jpg" id="amex">
            </div>
            <div class="form-group" id="pay-now">
                <button type="submit" class="btn btn-default js-payment-action" id="confirm-purchase">Confirm</button><br />
            </div>
            <div id="message" style="float: left !important;">

            </div>
        </div>
    </div>
    <p class="examples-note">Here are some dummy credit card numbers and CVV codes so you can test out the form:</p>
    <div class="examples">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Card Number</th>
                        <th>Security Code</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Visa</td>
                        <td>4111111111111111</td>
                        <td>257</td>
                    </tr>
                    <tr>
                        <td>Master Card</td>
                        <td>5555555555554444</td>
                        <td>043</td>
                    </tr>
                    <tr>
                        <td>American Express</td>
                        <td>378282246310005</td>
                        <td>3156</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript">
    Spreedly.on('paymentMethod', function (token, pmData) {
        // Set the token in the hidden form field
        $("#payment_method_token").val(token);
        $.post("/SpreedlyPayment/ProcessPayment", { token: token });
    });

    Spreedly.on('errors', function (errors) {
        messageEl = document.getElementById("message");
        for (var i = 0; i < errors.length; i++) {
            messageEl.innerHTML =
                "Error saving card " + errors[i]["key"] + ": " + errors[i]["message"]
        }
    });

    $(function () {
        $.noConflict();
        $(".js-payment-action").unbind('click').click(function () {
            var requiredFields = {};

            // Get required, non-sensitive, values from host page
            requiredFields["full_name"] = $("#full_name").val();
            requiredFields["month"] = $("#month").val();
            requiredFields["year"] = $("#year").val();
            requiredFields["environment_key"] = 'HWajrSMjhABEO53HYKseWRnuHxC';
            requiredFields["address1"] = 'Flat 1904 Raphael House';
            requiredFields["address2"] = '250 High Road';
            requiredFields["city"] = 'Ilford';
            requiredFields["state"] = 'Essex';
            requiredFields["zip"] = 'IG11YT';
            requiredFields["country"] = 'United Kingdom';
            requiredFields["phone_number"] = '07798938867';
            requiredFields["shipping_address1"] = 'Flat 1904 Raphael House';
            requiredFields["shipping_address2"] = '250 High Road';
            requiredFields["shipping_city"] = 'Ilford';
            requiredFields["shipping_state"] = 'Essex';
            requiredFields["shipping_zip"] = 'IG11YT';
            requiredFields["shipping_country"] = 'United Kingdom';
            requiredFields["shipping_phone_number"] = '07798938867';


            var x = Spreedly.tokenizeCreditCard(requiredFields);
        });
    });

    Spreedly.init("HWajrSMjhABEO53HYKseWRnuHxC", {
        "numberEl": "spreedly-number",
        "cvvEl": "spreedly-cvv"
    });
</script>